
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "Enter your email address", :class => "email brandon ho-email" %>
  <!--<input class="submit brandon" name="commit" type="submit" value="Step Inside" />-->
  <button type="submit" name="commit">COME PLAY</button>
<% end %>